
$main-color: #66bbcd;
$black-color: #000;
$gray-color: #cacaca;
$white-color: #fff;
$text-color: #33a5bc;
$border-color: #f5f5f5;
$icon-color: #588464;

$background-color: rgb(113,165,122);
$linear-color: linear-gradient(90deg, rgba(108,166,126,1) 0%, rgba(40,175,178,1) 100%);