


$main-color: #1196b1;
$black-color: #000;
$gray-color: #bdbdbd;
$white-color: #fff;

$background-color: rgb(113,165,122);
$linear-color: linear-gradient(90deg, rgba(113,165,122,1) 0%, rgba(77,170,150,1) 44%, rgba(30,177,187,1) 100%);