@mixin breakpoints($point) {

    
    @if $point == mobile {
        @media (min-width:0) and (max-width: 576px) {
            @content;
        }
    } @else if $point == small {
        @media (min-width:576px) and (max-width: 767px) {
            @content;
        }
    } @else if $point == medium {
        @media (min-width:768px) and (max-width: 991px) {
            @content;
        }
    } @else if $point == large {
        @media (min-width:992px) and (max-width: 1200px) {
            @content;
        }
    } @else if $point == extraLarge {
        @media (min-width:1201px) and (max-width: 1400px) {
            @content;
        }
    } @else if $point == xlarge {
        @media (min-width:1401px) and (max-width: 300px) {
            @content;
        }

}

}


@mixin transition {
    transition: 0.2s;
}
 
@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

@mixin bg {
    background: rgb(113,165,122);
    background: -moz-linear-gradient(32deg, rgba(113,165,122,1) 15%, rgba(29,177,187,1) 79%);
    background: -webkit-linear-gradient(32deg, rgba(113,165,122,1) 15%, rgba(29,177,187,1) 79%);
    background: linear-gradient(32deg, rgba(113,165,122,1) 15%, rgba(29,177,187,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71a57a",endColorstr="#1db1bb",GradientType=1);
}

@mixin rotate {
    @media (min-width:992px) and (max-width: 1130px) {
        @content;
    }
}
@mixin bg-img {
    background: url("../../img/bg.webp") no-repeat left top, linear-gradient(206deg,#074b50, #1a4943);
}
